footer {
    @include pd-values(59px,0);
    h4 {
            color: map-get($colors, blue_color);
            font-size: 30px;
            font-weight: bold;
            text-align: center;
    }
    @at-root
    .footer__top {
        @include pd-rule(bottom,28px);
        @at-root
        &__links {
            @include pd-values(0,100px);
            @include mg-rule(top,36px);
            @include flex_properties(space-between,normal);

            ul {
                @include flex_properties(normal,normal);
                flex-direction: column;
                row-gap: 24px;

                li {
                    text-align: center;
                    a {
                        color: map-get($colors,gray_color);
                        font-size: 18px;
                        @include transition-effect();
                        &:hover {
                            @include hover-effect();
                        }
                    }
                }
            }
            @include reverse_breakpoint("mini-ipad") {
                flex-direction: column;
                row-gap: 20px;
            }
            
        }

        @at-root
        &__buttons {
            @include mg-rule(top,63px);
            @include flex_properties(space-around,normal);

            a {
                background-color: map-get($colors,blue_color);
                color: map-get($colors,primary_color);
                @include pd_values(10px,10px);
                font-size: 14px;
                white-space: nowrap;
                @include reverse_breakpoint("mini-ipad") {
                    font-size: 9px;
                }
                @include reverse_breakpoint("tablet") {
                    display: block;
                    font-size: 9px;
                    text-align: center;
                }
                @include transition-effect();
                &:hover {
                    @include hover-effect();
                }
            }

            @include reverse_breakpoint("tablet") {
                flex-direction: column;
                row-gap: 10px;
            }
        }
    }


    .footer__bottom {
        @include flex_properties(space-around,normal);
        @include pd-values4(60px,60px,60px,144px);
        background-color: map-get($colors,red_color);
        color: map-get($colors,primary_color);

        a {
        color: map-get($colors,primary_color);
        @include transition-effect();
        &:hover {
            @include hover-effect();
        }
        }

        span {
            display: block;
            text-align: center;
        }

        @at-root
        &__card {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            @at-root
            &__title {
                font-weight: bold;
                font-size: 13px;
            }

            @at-root
            &__address {
                font-size: 13px;

                span {
                    display: block;
                    align-items: center;
                }
            }

            @at-root
            &__contact {
                display: block;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
            }
        }

        @include reverse_breakpoint("tablet") {
            flex-direction: column;
            row-gap: 50px;
        }

    }
}