header {
    @at-root
    .header__top {
        @include pd-values(23px,0);
        display: flex;
        justify-content: space-between;
    h2 {
        font-size: 27px;
    }

    @at-root
    &__toplinks {
        @include mg-rule(top,22px);
        @include flex_properties(normal,center);
        
        @at-root
        .social-media {
            @include flex_properties(space-between,flex-end);
            flex-basis: 51%;

            @at-root
            .social-media-title {
                color: map-get($colors,red_color);
                font-weight: bold;
                font-size: 16px
            }

            @at-root
            .header-top-contents {
                flex-basis: 54%;
                color: map-get($colors,blue_color);
                font-weight: bold;
                @include reverse_breakpoint("pc") {
                    flex-basis: 64%;
                }
                @include reverse_breakpoint("mini-ipad") {
                    width: 100%;
                }
            }

            @at-root
            .social-links {
                @include flex_properties(space-between,normal);
                flex-basis: 38%;
                li {
                    a {
                        text-indent: -9999px;
                        &::before {
                            @include font-icon("\f09a",22px);
                            background-color: map-get($colors,blue_color);
                            color: map-get($colors,primary_color);
                            @include pd_values(9px,13px);
                            border-radius: 100%;
                            @include transition-effect();

                        }
                        &:hover::before {
                            @include hover-effect();
                        }
                    }

                    &:nth-child(2) {
                        a {
                            &::before {
                                @include font-icon("\f099",16px);
                                @include pd_values(12px,13px);
                            }   
                        }
                    }

                    &:last-child {
                        a {
                            &::before {
                                @include font-icon("\f167",16px);
                                @include pd_values(12px,13px);
                            }   
                        }
                    }
                }

            }

            @include reverse_breakpoint("mini-ipad") {
                flex-basis: 58%;
            }


            @include reverse_breakpoint("tablet") {
                width: 100%;
            }
        }

            span {
                color: map-get($colors,red_color);
                font-weight: bold;
                font-size: 16px;
                white-space: nowrap;
                @include reverse_breakpoint("mobile") {
                    font-size: 10px;
                }
            }
            @at-root
            .reviews {
                @include mg-rule(left,30px);
                flex-basis: 33%;
                @include flex_properties(space-between,flex-end);
                a {
                background-color: map-get($colors,blue_color);
                color: map-get($colors,primary_color);
                @include pd_values(10px,7px);
                border-radius: 20px;
                font-size: 13px;
                white-space: nowrap;
                @include transition-effect();
                &:hover {
                    @include hover-effect();
                }
                }

                @include reverse_breakpoint("mini-pc") {
                    flex-basis: 26%;
                }
                @include reverse_breakpoint("tablet") {
                    width: 100%;
                }
            }

            @include reverse_breakpoint("tablet") {
                flex-direction: column;
                row-gap: 20px;
            }
        }

     @at-root
     &__bottomlinks {
        @include mg-rule(top,45px);
        @include flex_properties(space-between,normal);

        a {
            @include pd_values(10px,15px);
            background-color: map-get($colors,blue_color);
            color: map-get($colors,primary_color);
            @include reverse_breakpoint("tablet") {
                display: block;
                text-align: center;
            }
            @include transition-effect();
            &:hover {
                @include hover-effect();
            }
        }

        @include reverse_breakpoint("tablet") {
            flex-direction: column;
            row-gap: 20px;
        }
     }
     @include reverse_breakpoint("mini-pc") {
         flex-direction: column;
         row-gap: 20px;
     }

    }

    @at-root
    .header__bottom {
        @at-root
            .ham {
                    @include mg-rule(right,auto);
                text-indent: -9999px;
                display: none;
                &::before {
                    @include font-icon("\f0c9",23px);
                    color: map-get($colors,black_color);
                }
                @include reverse_breakpoint("tablet") {
                    @include mg-rule(right,auto);
                    display: inline-block;
                }
            }

            @at-root
            .cross {
                text-indent: -9999px;
                &::before {
                    @include font-icon("\f00d",23px);
                    color: map-get($colors,black_color);
                }   
            }


            @at-root .menu {

                @include reverse_breakpoint("tablet") {
                    display: none;
                    text-align: center
                }
            }
        
            .nav {
                @include pd-values(15px,28px);
                @include flex_properties(space-between,normal);
                background-color:map-get($colors,red_color);
                

                li {
                    a {
                        color: map-get($colors,primary_color);
                        font-size: 15px;
                        @include reverse_breakpoint("mini-ipad") {
                            font-size: 9px;
                        }
                        @include reverse_breakpoint("tablet") {
                            font-size: 18px;
                        }
                        @include transition-effect();
                        &:hover {
                            @include hover-effect();
                        }

                        @include reverse_breakpoint("tablet") {
                            &:hover {
                                color: map-get($colors,primary_color);
                            }   
                        }
                    }
                }
                @include reverse_breakpoint("tablet") {
                    flex-direction: column;
                    row-gap: 20px;
                }
            }
        
    }
}

  

    

