.see-jobs {
    @include pd-values(47px,0);
    @at-root

    &__p2 {
        @include mg-rule(top,28px);

        a {
            color: map-get($colors,red_color);
            @include transition-effect();
            &:hover {
                @include hover-effect();
            }
        }
    }

    @at-root
    &__link {
        @include mg-rule(top,35px);
        text-align: center;

        h2 {
            a {
                @include pd-values(12px,12px);
                background: map-get($colors,blue_color);
                color: map-get($colors,primary_color);
                font-size: 15px;
                @include transition-effect();
                &:hover {
                    @include hover-effect();
                }
                
            }
        }
    }

    p {
        font-size: 18px;
        line-height: 27px;
    
    }
}