// colors
$colors: (primary_color: #fff,
        blue_color: #2B788B,
        red_color: #A50935,
        gray_color: #333333,
        black_color: #000
);

// breakpoints
$breakpoints: (large-pc: 1440px,
    pc: 1280px,
    mini-pc: 1024px,
    mini-ipad: 995px,
    tablet: 768px,
    mobile-x: 540px,
    mobile: 425px);