<footer>
    <div class="wrapper">
      <div class="footer__top">
      <h4>Click your town to find heating & air conditioning installations near you!</h4>
      <div class="footer__top__links">
          <ul>
            <li><a href="#FIXME" title="Boiling Springs PA" target="_blank">Boiling Springs, PA</a></li>
            <li><a href="#FIXME" title="Carlisle PA" target="_blank">Carlisle, PA</a></li>
          </ul>
          <ul>
            <li><a href="#FIXME" title="Easton PA" target="_blank">Easton, PA</a></li>
            <li><a href="#FIXME" title="Harrisburg PA" target="_blank">Harrisburg, PA</a></li>
            <li><a href="#FIXME" title="Lancaster PA" target="_blank">Lancaster, PA</a></li>
          </ul>
          <ul>
            <li><a href="#FIXME" title="Mechanicsburg PA" target="_blank">Mechanicsburg, PA</a></li>
            <li><a href="#FIXME" title="Mountville PA" target="_blank">Mountville, PA</a></li>
            <li><a href="#FIXME" title="Tannersville PA" target="_blank">Tannersville, PA</a></li>
          </ul>
          <ul>
            <li><a href="#FIXME" title="Walnutport PA" target="_blank">Walnutport, PA</a></li>
            <li><a href="#FIXME" title="Zionsville PA" target="_blank">Zionsville, PA</a></li>
          </ul>
      </div>
      <ul class="footer__top__buttons">
          {%- for link in footerlinks -%}
            <li>
              <a href="{{ link.href }}" title="{{ link.title }}" target="{{ link.target }}">{{ link.name }}</a>
            </li>
          {%- endfor -%}
      </ul>
      </div>
      <div class="footer__bottom">
          <ul class="footer__bottom__card">
            <li><span class="footer__bottom__card__title">WHITEHALL</span></li>
            <li><address class="footer__bottom__card__address">
              <span>715 Front Street</span>
              <span>Whitehall, PA 18052</span>
            </address></li>
            <li><a href="tel:8773770470" title="8773770470" target="_blank" class="footer__bottom__card__address">(877) 377-0470</address></li>
          </ul>
          <ul class="footer__bottom__card">
            <li><span class="footer__bottom__card__title">HARRISBURG</span></li>
            <li><address class="footer__bottom__card__address">
              <span>715 Front Street</span>
              <span>Whitehall, PA 18052</span>
            </address></li>
            <li><a href="tel:8773770470" title="8773770470" target="_blank" class="footer__bottom__card__address">(877) 377-0470</address></li>
          </ul>
          <ul class="footer__bottom__card">
            <li><span class="footer__bottom__card__title">WHITEHALL</span></li>
            <li><address class="footer__bottom__card__address">
              <span>715 Front Street</span>
              <span>Whitehall, PA 18052</span>
            </address></li>
            <li><a href="tel:8773770470" title="8773770470" target="_blank" class="footer__bottom__card__address">(877) 377-0470</address></li>
          </ul>
          <ul class="footer__bottom__card">
            <li><span class="footer__bottom__card__title">WHITEHALL</span></li>
            <li><address class="footer__bottom__card__address">
              <span>715 Front Street</span>
              <span>Whitehall, PA 18052</span>
            </address></li>
            <li><a href="tel:8773770470" title="8773770470" target="_blank" class="footer__bottom__card__address">(877) 377-0470</address></li>
          </ul>
      </div>
    </div>
</footer>