<header class="header">
  <div class="wrapper">
    <div class="header__top">
      <h1 class="logo">
        <a href="#FIXME" title="Homeserve">
          <img src="{{ metadata.logo }}" alt="{{ metadata.sitename }}" loading="lazy"/>
        </a>
        <div class="header__top__toplinks">
          <div class="social-media">
            <span class="social-media-title">Follow Us on Social Media :
            </span>
            <ul class="social-links">
              {%- for social in headericons -%}
                <li>
                  <a href="{{ social.href }}" title="{{ social.title }}" target="{{ social.target }}">{{ social.name }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="reviews">
            <span class="read-reviews">Read Our :</span>
            <a href="#FIXME" title="Customer Reviews" target="_blank">Customer Reviews</a>
          </div>
        </div>
        <ul class="header__top__bottomlinks">
          {%- for link in headerlinks -%}
            <li>
              <a href="{{ link.href }}" title="{{ link.title }}" target="{{ link.target }}">{{ link.name }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="header__bottom">
        <ul class="nav">
          {% include "partials/navlinks.njk" %}
        </ul>
      </div>
    </div>
  </header>