<div class="pagination">
    {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">previous</a>
        {% else %}previous{% endif %}
    {% for pageEntry in pagination.pages %}
        <a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a>
    {% endfor %}
    {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">next</a>
        {% else %}next{% endif %}
</div>